body {
    background-color: black;
}
.containa {
    background-color: #8900d8;
    position: relative;
    max-width: 720px;
    height: 400px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.containa .judul a {
    position: relative;
    z-index: 5;
}
.containa .menu {
    background-color: #1b1b1b;
    position: relative;
    z-index: 3;
    max-width: 200px;
    width: 50%;
    height: 35px;
    border-radius: 15px;
    display: flex;
}

.containa .homeicon {
    background-color: black;
    height: 35px;
    width: 35px;
    margin-top: -58px;
    margin-right: -21px;
    margin-left: auto;
    border-radius: 12px;
    border: 12px solid black;
    position: relative;
    z-index: 3;
}
.containa .homeicon .icon {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 15px;
}
.containa .alasbawah {
    background-color: #1b1b1b;
    position: relative;
    z-index: 5;
    width: 220px;
    height: 80px;
    margin-top: 258px;
    border-radius: 24px;
}
.containa .judul {
    background-color: #1b1b1b;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    z-index: 6;
    width: 180px;
    height: 100px;
    margin-top: -130px;
    border-radius: 24px;
    box-sizing: border-box;
}
.containa .whatsapp {
    background-color: #c8f135;
    height: 35px;
    width: 35px;
    position: relative;
    z-index: 7;
    border-radius: 20px;
    margin-top: -75px;
    margin-left: 170px;
}

.containa .judul a img {
    width: 160px;
    margin-top: -25px;
    position: relative;
    z-index: 8;
    margin-bottom: -20px;
    margin-left: -10px;
}

.containa .judul .course, .containa .judul .cart{
    width: 75px;
    height: 20px;
    position: relative;
    z-index: 8;
    background-color: rgba( 254, 254, 254, 0.3);
    border-radius: 10px;
    display: inline-block;
    margin-top: -30px;
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: "Product Sans";
    src: url('ProductSans-Regular.ttf') format('truetype');
}

.containa .judul .ptitle {
    color: white;
    font-size: 10px;
    font-family: "Product Sans";
    margin: 5px;
    letter-spacing: 1px;
    line-height: 10px;
    text-decoration: none;
}

.containa .poster {
    height: 400px;
    position: absolute;
    margin-top: -12px;
    margin-left: -15px;
    z-index: 2;
}

.containa .menu ul {
    list-style: none;
    align-items: center;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.containa .menu ul li a img {
    width: 18px;
}

/* Hamburger Menu */

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin-top: 8px;
    margin-left: 12px;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    margin-top: -3px;
    margin-left: -9px;
    cursor: pointer;
    z-index: 7;
}

.menu-toggle span {
    display: flex;
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, 2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* Responsive */

/* Bentuk Mobile */
@media screen and (max-width: 576px) {
   .containa .menu ul{
    display: none;
   } 
   .containa .menu {
    max-width: 45px;
   }
}