body {
    background-color: black;
}

.container {
    max-width: 720px;
    height: auto;
    overflow: hidden;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
}

/* Home Container A Code */
.containa {
    background-color: black;
    /* background-color: #8900d8; */
    position: relative;
    max-width: 720px;
    height: 400px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.containa .judul a {
    position: relative;
    z-index: 5;
}
.containa .menu {
    background-color: #1b1b1b;
    position: relative;
    z-index: 4;
    max-width: 200px;
    width: 50%;
    height: 35px;
    border-radius: 15px;
    display: flex;
}

.containa .homeicon {
    background-color: black;
    height: 35px;
    width: 35px;
    margin-top: -58px;
    margin-right: -21px;
    margin-left: auto;
    border-radius: 12px;
    border: 12px solid black;
    position: relative;
    z-index: 3;
}
.containa .homeicon .icon {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    overflow: hidden;
}
.containa .homeicon .icon img {
    width: 35px;
}
.containa .poster {
    height: 400px;
    position: absolute;
    margin-top: -12px;
    margin-left: -15px;
    z-index: 2;
}

.alasbawah {
    background-color: #1b1b1b;
    position: relative;
    z-index: 5;
    width: 220px;
    height: 80px;
    margin-top: -90px;
    margin-left: 12px;
    border-radius: 24px;
}
.judul {
    background-color: #1b1b1b;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    z-index: 6;
    width: 180px;
    height: 100px;
    margin-top: -130px;
    margin-left: 12px;
    border-radius: 24px;
    box-sizing: border-box;
}

.judul p {
    color: white;
    font-size: 11px;
    font-family: "Product Sans";
    margin: -15px 5px 10px 5px;
    letter-spacing: 1px;
    line-height: 15px;
}
.whatsapp {
    background-color: #c8f135;
    height: 35px;
    width: 35px;
    position: relative;
    z-index: 7;
    border-radius: 20px;
    margin-top: -75px;
    margin-left: 170px;
    padding: 5px;
    box-sizing: border-box;
}

.whatsapp a img {
    width: 25px;

}

.judul a img {
    width: 160px;
    margin-top: -25px;
    position: relative;
    z-index: 8;
    margin-bottom: -20px;
    margin-left: -10px;
}

.judul .donate-h1, .judul .cart-h1{
    width: 75px;
    height: 20px;
    position: relative;
    z-index: 8;
    background-color: rgba( 254, 254, 254, 0.3);
    border-radius: 10px;
    display: inline-block;
    margin-top: -30px;
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: "Product Sans";
    src: url('ProductSans-Regular.ttf') format('truetype');
}

.judul .ptitle {
    color: white;
    font-size: 10px;
    font-family: "Product Sans";
    margin: 5px;
    letter-spacing: 1px;
    line-height: 10px;
    text-decoration: none;
}



.containa .menu ul {
    list-style: none;
    align-items: center;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.containa .menu ul li a img{
    width: 18px;
}

/* Hamburger Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin-top: 8px;
    margin-left: 12px;
    z-index: 2;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    margin-top: -3px;
    margin-left: -9px;
    cursor: pointer;
    z-index: 7;
}

.menu-toggle span {
    display: flex;
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, 2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Responsive */

/* Bentuk Mobile */
@media screen and (max-width: 576px) {
   .containa .menu ul{
    position: absolute;
    flex-direction: column;
    margin-top: 40px;
    z-index: 1;
   } 

   .containa .menu ul li {
    background-color: #1b1b1b;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 1s;
   }

   .menu ul li:nth-child(1) {
    transform: translateY(-40px);
    opacity: 0;
   }
   .containa .menu ul li:nth-child(2) {
    transform: translateY(-75px);
    opacity: 0;
   }
   .containa .menu ul li:nth-child(3) {
    transform: translateY(-110px);
    opacity: 0;
   }
   .containa .menu ul li:nth-child(4) {
    transform: translateY(-145px);
    opacity: 0;
   }
   .containa .menu ul li:nth-child(5) {
    transform: translateY(-180px);
    opacity: 0;
   }

   .containa .menu {
    max-width: 45px;
    position: relative;
    z-index: 3;
    display: flex;
   }
   .menu-toggle {
    display: flex;
   }

   .containa .menu ul li.slide {
    transform: translate(0);
    opacity: 1;
   }
}

/* Container B Code */

.containb-icon {
    width: 70px;
    height: 80px;
    background-color: #ebeeff;
    border: 10px solid black;
    border-radius: 24px;
    display: flex;
    position: relative;
    margin-top: 20px;
    z-index: 2;
    margin-left: auto;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
.containb {
    max-width: 720px;
    min-height: 100px;
    background-color: #ebeeff;
    display: flex;
    position: relative;
    margin-top: -30px;
    z-index: 3;
    border-radius: 24px;
    box-sizing: border-box;
    font-family: "product sans";
    padding: 24px;
    flex-direction: column;
}
.containb .headline-b .judul-b {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
}
.containb .headline-b .keterangan-b {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}
.icon-b {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 24px;
    position: relative;
    z-index: 3;
}
.body-containb{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
}
.body-containb a .content-b {
    background-color: black;
    display: flex;
    height: 200px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.body-containb a .content-b .title-content {
    width: auto;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.6);
    margin-top: auto;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-containb a {
    text-decoration: none;
    color: white;
}
.body-containb p {
    font-size: 10px;
    margin: 0;
}
.ujitrans {
    width: 50px;
    height: 50px;
    background-color: rgba( 255, 0, 0, 0);
    /* background-color: #ebeeff; */
    position: absolute;
    margin-top: -10px;
    margin-left: -120px;
    border-bottom-right-radius: 24px;
    box-shadow: 5px 5px 0 5px #ebeeff;
}
.ujitrans2 {
    width: 50px;
    height: 50px;
    background-color: rgba( 255, 0, 0, 0);
    /* background-color: #ebeeff; */
    position: absolute;
    margin-top: -10px;
    margin-left: 120px;
    border-bottom-left-radius: 24px;
    box-shadow: -20px 0 0 0 #ebeeff;
}
.ujitrans3 {
    width: 40px;
    height: 50px;
    background-color: rgba( 255, 0, 0, 0);
    /* background-color: #ebeeff; */
    position: absolute;
    margin-top: -30px;
    margin-left: 130px;
    border-bottom-left-radius: 21px;
    box-shadow: -5px 8px 0 0 black;
}
.ujitrans4 {
    width: 40px;
    height: 40px;
    background-color: rgba( 255, 0, 0, 0);
    /* background-color: #ebeeff; */
    position: absolute;
    margin-top: -20px;
    margin-left: -130px;
    border-bottom-right-radius: 24px;
    box-shadow: 5px 8px 0 0 black;
}